.classpath
.project
.settings/
bin/
target/
flexi-core/.classpath
flexi-core/.project
flexi-core/.settings/
flexi-core/target/
/demo*
/archive
/store
/working
/preprocessing
/file/
.idea/
imcache-examples/imcache-examples.iml
imcache-parent.iml
imcache-spring/imcache-spring.iml
imcache/imcache.iml
imcache-memcache.iml
imcache-offheap.iml
imcache-redis.iml
imcache-core.iml
*.rdb
Main.java
